
.grid-container{
  display: grid;
  grid-template-rows: 50px ;
  grid-template-columns: 600px 0px;
  margin-left: 200px;

}

img{
width: 400px;
height: 180px;
margin-left: 120px;
}

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
